<section>
  <div class="container py-5 cards-container">
    <div class="row justify-content-center">
    
      <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
          <img src="./asper.png" class="card-img-top" alt="Assistance personnelle">
          <div class="card-body">
            <h5 class="card-title">Assistance personnelle</h5>
            <p class="card-text">Profitez d'un assistant personnel disponible 24/7 pour vous aider.</p>
            <a href="#" class="btn btn-outline-warning mt-3">En savoir plus</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
          <img src="./transport.png" class="card-img-top" alt="Transports">
          <div class="card-body">
            <h5 class="card-title">Organisation de Transports Locaux</h5>
            <p class="card-text">Réservez rapidement un chauffeur privé ou un taxi.</p>
            <a href="#" class="btn btn-outline-warning mt-3">En savoir plus</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
          <img src="resto.png" class="card-img-top" alt="Restaurants">
          <div class="card-body">
            <h5 class="card-title">Réservations de Restaurants Locaux</h5>
            <p class="card-text">Accédez aux meilleurs restaurants et réservez en un clic.</p>
            <a href="#" class="btn btn-outline-warning mt-3">En savoir plus</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
          <img src="cath.png" class="card-img-top" alt="Tourisme">
          <div class="card-body">
            <h5 class="card-title">Visites et Activités Touristiques</h5>
            <p class="card-text">Découvrez les meilleures attractions et circuits locaux.</p>
            <a href="#" class="btn btn-outline-warning mt-3">En savoir plus</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
          <img src="park.png" class="card-img-top" alt="Plein air">
          <div class="card-body">
            <h5 class="card-title">Activités de plein air</h5>
            <p class="card-text">Profitez de randonnées, sports et loisirs en pleine nature.</p>
            <a href="#" class="btn btn-outline-warning mt-3">En savoir plus</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
          <img src="hotel.png" class="card-img-top" alt="Hôtels">
          <div class="card-body">
            <h5 class="card-title">Réservations d’Hôtels et Hébergements</h5>
            <p class="card-text">Trouvez et réservez facilement un hôtel ou un logement.</p>
            <a href="#" class="btn btn-outline-warning mt-3">En savoir plus</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

  