<div class="profile-container">
    <div class="header">
      <h1>Mon Profil</h1>
      <button class="edit-button" (click)="modifierProfil()">Modifier le profil</button>
    </div>
  
    <div class="favorites">
      <h2>Mes Favoris</h2>
  
      <div class="category">
        <h3>Restaurants</h3>
        <ul>
        </ul>
      </div>
  
      <div class="category">
        <h3>Activités Touristiques</h3>
        <ul>
        </ul>
      </div>
  
      <div class="category">
        <h3>Activités de Plein Air</h3>
        <ul>
        </ul>
      </div>
  
      <div class="category">
        <h3>Hôtels et Hébergements</h3>
        <ul>
        </ul>
      </div>
    </div>
  </div>
  